<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
       <key>1001</key>
		<string>五子棋</string>
		 <key>1002</key>
		<string>练习</string>
		<key>1003</key>
		<string>开始</string>
		<key>1004</key>
		<string>悔棋</string>
		<key>1005</key>
		<string>认输</string>
		<key>1006</key>
		<string>退出</string>
		<key>1007</key>
		<string>读取存档</string>
		<key>1008</key>
		<string>是</string>
		<key>1009</key>
		<string>否</string>
		<key>1010</key>
		<string>黑棋胜利</string>
		<key>1011</key>
		<string>白棋胜利</string>
    </dict>
	<!--<dict>
       <key>1002</key>
		<string>练习</string>
    </dict>
	<dict>
       <key>1003</key>
		<string>开始</string>
    </dict>
	<dict>
       <key>1004</key>
		<string>悔棋</string>
    </dict>
	<dict>
       <key>1005</key>
		<string>认输</string>
    </dict>
	<dict>
       <key>1006</key>
		<string>退出</string>
    </dict>
	<dict>
       <key>1007</key>
		<string>读取存档</string>
    </dict>
	<dict>
       <key>1008</key>
		<string>是</string>
    </dict>
	<dict>
      <key>1009</key>
		<string>否</string>
    </dict>-->
</plist>
